<?xml version="1.0" encoding="UTF-8"?>
<OX>
  <OXMENU id="NAVIGATION_ESHOPADMIN">
      <MAINMENU id="mxextensions">
            <SUBMENU id="cmsconnect_setup" cl="cmsconnect_setup" list="cmsconnect_setup_list">
                <TAB id="cmsconnect_setup_main"             cl="cmsconnect_setup_main" />
                <TAB id="cmsconnect_setup_testcontent"      cl="cmsconnect_setup_testcontent" />
                <TAB id="cmsconnect_setup_cache_localpages" cl="cmsconnect_setup_cache_localpages" />
                <TAB id="cmsconnect_setup_cache_cmspages"   cl="cmsconnect_setup_cache_cmspages" />
            </SUBMENU>
        </MAINMENU>
  </OXMENU>
</OX>